{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>File comparison site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/csv_compare/images/images.ico">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/csv_compare/css/style.css" />
    <link rel="stylesheet" href="/static/csv_compare/css/offcanvas.css" />

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div>
        {% block jumbotronheader %}{% endblock jumbotronheader %}
    </div>

    <nav class="navbar navbar-expand-sm navbar-light sticky-top" style="background-color: #80bfff;">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="/static/csv_compare/images/images2.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_logs:index' %}">Learning</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'csv_compare:index' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compare</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'csv_compare:index' %}">Home</a>
                        <a class="dropdown-item" href="{% url 'csv_compare:compare' %}">New</a>
                        <a class="dropdown-item" href="{% url 'csv_compare:result' %}">Result</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'csv_compare:example' %}">Example</a>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav justify-content-end">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-info" href="{% url 'users:logout' %}">log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-info" href="{% url 'users:login' %}">log in / register</a>
            </li>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <div>
            {% block header %}{% endblock %}
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div><!-- /container -->

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>

    <script src="/static/csv_compare/js/jscompare.js"></script>
    <script src="/static/csv_compare/js/holder.min.js"></script>
    <script src="/static/csv_compare/js/offcanvas.js"></script>

</body>

</html>